# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
pp/
.venv/
venv/

# Django
media/
staticfiles/

# Local secrets
.env

# VS Code
.vscode/

# Local PostgreSQL/runtime artifacts
.postgres/
*.log
