{% extends 'base.html' %}
{% block title %}Login - HMS{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4>🏥 HMS Login</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">Email</label>
                        {{ form.email }}
                        {% if form.email.errors %}<div class="text-danger small">{{ form.email.errors }}</div>{% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Password</label>
                        {{ form.password }}
                        {% if form.password.errors %}<div class="text-danger small">{{ form.password.errors }}</div>{% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <p>demo accounts: <br>
                    <strong>Patient:</strong> acharyaprabin507@gmail.com / Joker@9845<br>
                    <strong>Doctor:</strong> sarajoshi33@gmail.com / Joker@9845<br>
                    <strong>Admin:</strong> gamerbot128@gmail.com / Joker@9845<br>
                    <strong>Receptionist:</strong> receptionist.lab@example.com / Joker@9845<br>
                    <strong>labtechnician:</strong>prabinacharya9845@gmail.com / Joker@9845<br>
                </p>

                <hr>
                <div class="text-center">
                    <a href="{% url 'users:password_reset' %}">Forgot Password?</a>
                    <br>
                    <a href="{% url 'users:register' %}">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}